.wrapper{
    margin-bottom: 1rem;
}

.input{
    display: block;
    border: 1px solid var(--input-default-border);
    font-size: 1rem;
    width: 100%;
    padding: .8rem;
    background-color: #eee;
    border-radius: .4rem;
    transition: .3s;
}

.input:hover,
.input:focus{
    background-color: #fff;
    outline: none;
    border-color: var(--color-yellow-default);
    box-shadow: 0 0 0 3px var(--shadow-light-yellow);
}

.label {
    display: block;
    font-size: 1.3rem;
    line-height: 1;
    padding-bottom: .8rem;

}
.erro{
    color: var(--color-error);
    font-size: .875rem;
    margin-top: .25rem;
}