@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Spectral:wght@700&display=swap');

:root {

    /* Color on site */
    --color-default:#333;
    --color-yellow-default:#fb1;

    /* Box shadows effetcs */
    --shadow-ligth-yellow: #fea;
    --shadow-yellow-default: #fb1;
    --shadow-light-gray:#eee
    
    /* Inputs borders */
    --input-default-border: #eee;

    /* Warnings, errors and sucess */
    --color-error:#f31;
    
    /* border colors */
    --border-light-black: #333
    --border-yellow-default:#fb1

    /* All of typography */
    --type-first: Helvetica,Arial,sans-serif;
    --type-second:'Spectral',Georgia;
    --type-font-color-normal: #764701;

    /* Backgrounds on site */

    --background-navheader: #eee;
    --background-white: #fff;

}
* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding-top: 4rem;
    color: var(--color-default);
    font-family: var(--type-first);
}


h1,h2,h3,h4,p{
    margin: 0px;
}
ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--color-default);
}
img{
    display: block;
    max-width: 100%;
}

button,input{
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: var(--color-default);
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.title{
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
}

.title::after{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-yellow-default);
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: -5px;
    border-radius: .3rem;
}

.animaLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animaLeft .3s forwards;
}

@keyframes animaLeft {
    to{
        opacity: 1;
        transform: initial;
    }
}