.nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.nav a, nav button {
    background-color: var(--background-navheader);
    border-radius: .2rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}

.nav a:focus,
.nav a:hover,
.nav button:focus,
.nav button:hover{
    background-color: var(--background-white);
    box-shadow: 0 0 0 3px var(--shadow-light-gray);
    border-color: var(--border-light-black);
    outline: none;
}

.nav a:global(.active) {
    background-color: var(--background-white);
    box-shadow: 0 0 0 3px var(--shadow-ligth-yellow);
    border-color: var(--border-yellow-default);
}

.nav a:global(.active) svg > *{
    fill:#fb1;
}  

.menuMobile {
    background-color: var(--background-navheader);
    border-radius: .2rem;
    padding: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}
.menuMobile::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    background-color: currentColor;
    border-radius: 2px;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: .2s
}

.menuMobile:focus,
.menuMobile:hover,
.menuMobileActive{
    outline: none;
    background-color: var(--background-white);
    box-shadow: 0 0 0 3px var(--shadow-ligth-yellow);
    color: var(--color-yellow-default);
}

.menuMobileActive::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 0 1rem;
    background-color: var(--background-white);
    border: 1px solid #fb1;
    box-shadow: 0 1px 2px rgb(0, 0, 0 .2);
    border-radius: 1rem;
    transform: translateX(-10px);
    opacity: 0;
    pointer-events: none;
}
.navMobile a,
.navMobile button {
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fb1;
    padding: .5rem;
    cursor: pointer;
}

.navMobile svg{
    margin-right: .5rem;
}

.navMobile button {
    border-bottom: none;
}

.navMobile a svg > *,
.navMobile button > * {
    fill:#fb1
}

.navMobileActive {
    transition: .3s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
}